/* Acá va tu código */ 
body {
    background-image:url(https://images.pexels.com/photos/1303081/pexels-photo-1303081.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-size: 100%;
    text-align: center;
    color: #e5e2b6;
   
        
}
#changeShadow{
    text-shadow: 2px 2px 3px #000000;
   
    
}
#cipherText{
    width: 80%;
    height: 25%;
    padding: 5%;
    background: #edf0c7;
    border: 2px solid #310b08;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    
}
#offset{
    width: 3%;
    height: 2%;
    background: #edf0c7;
    border: 2px solid #310b08;
    opacity: 0.9;
    padding: 2%;
    border-radius: 10px;
}
button{
    width: 20%;
    height: 20%;
    border: 2px solid #e5e2b6 ;
    color: #e5e2b6;
    background:  #b71c1c;
    padding: 1%;
    border-radius: 15px;
}
#root{
    width: 80%;
    height: 25%;
    padding: 5%;
    background: #edf0c7;
    border: 2px solid #310b08;
    opacity: 0.8;
    margin: 0 5%;
    color: black;
    border-radius: 10px;
    text-shadow: 2px 2px 3px white;

}
#paragraph{
    text-shadow: 2px 2px 3px #000000;   
}


